
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 40;
    padding: 80;
    background-color: #f9f9f9;
    font-size: 2em;
}


.container {
        width: 90%;
        max-width: 450px; /* Reduce max-width for a more portrait-friendly layout */
        margin: 50px auto;
        padding: 20px;
        background: #ffffff;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
    }
    


h1 {
    text-align: center;
    font-size: 3em;
    color:#2a7faa; /* Soft blue for a calm effect */
    text-transform: uppercase;
    margin-bottom: 10px;
    text-shadow: 2px 2px red;
}


hr {
    border: none;
    height: 4px;
    background-color: light blueviolet; /* Light teal for a refreshing look */
    width: 60%;
    margin: auto;
    border-radius: 2px;
}


p {
    text-align: justify;
    font-size: 1.1em;
    line-height: 1.7;
    margin: 20px 0;
    padding: 10px;
    text-indent: 50px;
    color: #555; 
}

@media (max-width: 768px) {
    .container {
        width: 90%; /* Make it more flexible on smaller screens */
        max-width: 400px;
    }

    h1 {
        font-size: 1.8em;
    }
    p {
        font-size: 1em;
    }
}
